
body
{
    background-color: #DDD;
    width: 1905px;
    height:1900px;
    margin:auto;
    border:3px outset rgb(102, 102, 189);
    border-radius: 10px ;
	
}
header
{
    background-color: thistle;
   /* margin:auto;
    /*width:1000px;*/
    height:550px;
}

h1    {    position: relative;    left:600px;    bottom:130px; }

h2    {  position: relative; left:60px; bottom:160px; }

.im1  { margin:auto;    width:1905px;    height:400px;} 

.im2  { width:150px;    height:150px;    position: relative;    left:1754px;    bottom:4px; }

.im3  { width:50px;    height:70px;     position: relative;    left:-150px;    bottom:05px;}

.im4  { width:450px;    height:300px;    position: relative;    left: -20px;}

.im5  { width:70px;    height:70px;    position: relative;    left:-30px;    bottom:60px;  }

.im6  { margin:auto;  width:25px;  height:25px; position: relative; left:-130px;  bottom:29px; }

.im7  { margin:auto; width:25px; height:25px; position: relative; left:-150px; bottom:6px; }

.im8  { margin:auto; width:50px;  height:30px; position: relative; left:-400px; bottom:253px;}

.im9  { height: 250px; width: 950px; position: relative; left:0px; bottom:0px;}

.im10 { height: 250px; width: 950px; position: relative; left: 0px;  bottom:0px;}

.im11 { height: 150px; width: 300px; position: relative; left: 0px;  bottom:15px;}

.im12 { height: 200px; width: 200px; position: relative; left: 1400px;  bottom:0px;}

.di1
{
    /*margin:auto;*/
    background-color: white;
    height: 300px;
    width: 1905px;
}
.di2 
{
    background-color:#DDD;
    height: 270px;
    width: 1270px;
    position: relative; 
    left:600px;
    bottom:298px;
    padding: 10px 15px;
}
.di3
{
    
    background-color: white;
    height: 250px;
    width: 1905px;
    position: relative; /*absolut*/
    /*left:0px;*/
    bottom:-01px;

}
.di4
{
    
    background-color:white;
    height: 210px;
    width: 1905px;
    position: relative; /*absolut*/
    /*left:0px;*/
    bottom:20px;

}
.di5
{
    
    background-color: #DDD;
    height: 180px;
    width: 1400px;
    position: relative; /*absolut*/
    left:270px;
    bottom:199px;
    padding: 10px;

}
form
{
    
    position: relative; 
    left:100px;
    bottom:10px;
}

footer
{
    margin:auto;
    position: relative; /*absolut*/
    left:15px;
    bottom:-80px;  
}
